
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script>
    
      var myApp = angular.module('myApp', []);
      myApp.controller('myCtrl', ['$scope', '$http', '$location', function (scope, http, location){
        scope.redirect = function(page) {
          if(page=='callSign')    
              location.href('https://vinodscms.github.io/callsign/');
          if(page=='test')    
              location.href('https://vinodscms.github.io/test/');
        };   
        
      }]);
    </script>
  </head>
  <body ng-controller="myCtrl">
    <table>
      <tr>
        <td><input style="width:80px;" ng-click="redirect('callSign')" type="submit" value='Call Sign'></input></td>
      </tr> 
      <tr>
        <td><input style="width:80px;" ng-click="redirect('test')" type="submit" value='Test'></input></td>
      </tr>
    </table>
  </body>
</html>
