<html ng-app="alphaApp">
  <head>
    <meta charset="utf-8">
    <title>Percent calculator</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script>
    
      var alphaApp = angular.module('alphaApp', []);
      alphaApp.controller('AlphaCtrl', ['$scope',  function (scope){
        scope.percent = "0.0";
        scope.myFunc = function() {
          scope.temp = 0.0;
          if(scope.v1 && scope.v2 && angular.isNumber(scope.v1) && angular.isNumber(scope.v2)) {
              if(scope.v2>scope.v1) {
                  //scope.temp = ((scope.v2/scope.v1) - 1) * 100;
                  scope.temp = (scope.v2-scope.v1) / scope.v1 * 100; 
                  scope.temp = scope.temp.toFixed(2);
                  scope.percent = "+" +scope.temp;
              } else {
                  //scope.temp = (scope.v2/scope.v1)  * 100;
                  scope.temp = (scope.v1-scope.v2) / scope.v1 * 100;   
                  scope.temp = scope.temp.toFixed(2);
                  scope.percent = "-" + scope.temp;
              }
          }          
        };
        
        scope.percent2 = "0.0";
        scope.myFunc2 = function() {
          scope.temp2 = 0.0;
          if(scope.v3 && scope.v4 && angular.isNumber(scope.v3) && angular.isNumber(scope.v4)) {
              scope.percent2 = (scope.v3/scope.v4*100).toFixed(2);              
          }
          
        };
        
        
      }]);
    </script>
    <style>
      table, th, td {
        border: 1px solid black; width:400px;
      }
    </style>
  </head>
  <body ng-controller="AlphaCtrl">
    <table style="width:400px;">
      <tr>
        <td><input style="color:blue;width:80px;" ng-model="v1" type="number" min="0" ng-change="myFunc()" type="text"/>  
        to <input style="color:blue;width:80px;" ng-model="v2" type="number" min="0" ng-change="myFunc()" type="text"/>
        &nbsp;is <span style="color:blue;">{{percent}}% </span>change </td>
      </tr>   
     
      <tr>
        <td><input style="color:blue;width:80px;" ng-model="v3" type="number" min="0" ng-change="myFunc2()" type="text"/>  
          is <span style="color:blue;">{{percent2}}%</span> of <input style="color:blue;width:80px;" ng-model="v4" type="number" min="0" ng-change="myFunc2()" type="text"/></td>
      </tr>   
      
    </table>
  </body>
</html>
