<html ng-app="alphaApp">
  <head>
    <meta charset="utf-8">
    <title>Percent calculator</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script>
    
      var alphaApp = angular.module('alphaApp', []);
      alphaApp.controller('AlphaCtrl', ['$scope',  function (scope){
        scope.percent = "0.0";
        scope.myFunc = function() {
          scope.temp = 0.0;
          if(scope.v1 && scope.v2 && angular.isNumber(scope.v1) && angular.isNumber(scope.v2)) {
              if(scope.v2>scope.v1) {
                  scope.temp = ((scope.v2/scope.v1) - 1) * 100;
                  scope.temp = scope.temp.toFixed(2);
                  scope.percent = "+" +scope.temp;
              } else {
                  scope.temp = (scope.v2/scope.v1)  * 100;
                  scope.temp = scope.temp.toFixed(2);
                  scope.percent = "-" + scope.temp;
              }
          }
          
        };
        scope.display=function(){
          scope.callSign = scope.temp;
        }
        
      }]);
    </script>
  </head>
  <body ng-controller="AlphaCtrl">
    <table>
      <tr>
        <td><input ng-model="v1" type="number" min="0" ng-change="myFunc()" type="text"/>  
        to <input ng-model="v2" type="number" min="0" ng-change="myFunc()" type="text"/></td>
      </tr>   
      <tr>
        <td>
          <h4>is {{percent}} %</h4>
        </td>
      </tr>
    </table>
  </body>
</html>
